.title{
    font-size: 0.8em;
}
.card{
    border:  none;
    text-align: center;

}

img{
    height: 150px;
    object-fit: contain;
}
.select{
    border: solid 5px red;
    border-radius: 20px;

}

.cardBody{
    font-size: 1em;
}