h1{
    color: #fff;
    font-weight: bold;

}
h1 span{
    font-size: 0.8em;
    font-weight: normal;

}


.alertWelcome{
    background-image: url("https://img.freepik.com/foto-gratuito/natura-morta-di-libri-contro-tecnologia_23-2150063081.jpg?t=st=1743082271~exp=1743085871~hmac=2da06c8eb1d69936b91fe2be9fb56a1f61e3d4e96d437c54199229f462a30f1b&w=996");
    background-size: cover;
    border-radius: 0px;
    border: none;
    height: 300px;
    background-repeat: no-repeat;
    background-position: 0px 70%;

}