
.darkMode{
  background-color: #212529;
  color: #fff;
}

.notFoundStyle{
  text-align: center;

}
.notFoundStyle h1{
  color: black;
}

.pageContainer {
  display: flex;          
  flex-direction: column; 
  min-height: 100vh;      
}